/Programming/sem1/lab_2/pokemons/nbproject/private/
/Programming/sem1/lab_2/pokemons/build/
/Programming/sem1/lab_2/pokemons93055/nbproject/private/
/Programming/sem1/lab_2/pokemons93055/build/
/Programming/sem1/lab_2/pokemons93055/dist/

# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.idea/*

# Python - Theory of Complex Numbers

/"3 Theory of Complex Functions"/fractals/venv/*
