@startuml

skinparam Linetype ortho
top to bottom direction


package pokemons {
    class Celebi {
        +name: String
        +level: int
        +Celebi()
    }
    class Bidoof {
        +name: String
        +level: int
        +Bidoof()
    }
    class Bibarel {
        +name: String
        +level: int
        +Bibarel()
    }
    class Deino {
        +name: String
        +level: int
        +Deino()
    }
    class Zweilous {
        +name: String
        +level: int
        +Zweilous()
    }
    class Hydreigon {
        +name: String
        +level: int
        +Hydreigon()
    }
}

package move {
    package physical {
        class DoubleHit {
            type: Type
            power: double
            accuracy: double
            hits: int
            priority: int
            +DoubleHit()
            #describe(): String
        }
        class Facade {
            type: Type
            power: double
            accuracy: double
            +Facade()
            #calcBaseDamage(): double
            #describe(): String
        }
        class SteelWing {
            type: Type
            power: double
            accuracy: double
            +SteelWing()
            #applySelfEffects(): void
            #describe(): String
        }
        class Waterfall {
            type: Type
            power: double
            accuracy: double
            +Waterfall()
            #applyOppDamage(): void
            #describe(): String
        }
    }
    package special {
        class Confusion {
            type: Type
            power: double
            accuracy: double
            +Confusion()
            #applyOppEffects(): void
            #describe(): String
        }
        class DazzlingGleam {
            type: Type
            power: double
            accuracy: double
            priority: int
            hits: int
            +DazzlingGleam()
            #describe(): String
        }
        class MagicalLeaf {
            type: Type
            power: double
            accuracy: double
            +MagicalLeaf()
            #applyOppEffects(): void
            #describe(): String
        }
    }
    package status {
        class Amnesia {
            type: Type
            power: double
            accuracy: double
            +Amnesia()
            #applySelfEffects(): void
            #describe(): String
        }
        class DefenseCurl {
            type: Type
            power: double
            accuracy: double
            +DefenseCurl()
            #applySelfEffects(): void
            #describe(): String
        }
        class FocusEnergy {
            type: Type
            power: double
            accuracy: double
            +FocusEnergy()
            #applySelfEffects(): void
            #describe(): String
        }
        class Swagger {
            type: Type
            power: double
            accuracy: double
            +Swagger()
            #applySelfEffects(): void
            #describe(): String
        }
    }
}

package pokemon {
    class StatusMove 
    class SpecialMove
    class PhysicalMove
    class Pokemon
    class DamageMove
    class Move
}

Pokemon : ru.ifmo.se.pokemon
SpecialMove : ru.ifmo.se.pokemon
StatusMove : ru.ifmo.se.pokemon
PhysicalMove : ru.ifmo.se.pokemon
DamageMove : ru.ifmo.se.pokemon
Move : ru.ifmo.se.pokemon

Celebi --|> Pokemon
Bidoof --|> Pokemon
Bibarel --|> Bidoof
Deino --|> Pokemon
Hydreigon --|> Zweilous
Zweilous --|> Deino

Amnesia --|> StatusMove
DefenseCurl --|> StatusMove
FocusEnergy --|> StatusMove
Swagger --|> StatusMove

Confusion --|> SpecialMove
DazzlingGleam --|> SpecialMove
MagicalLeaf --|> SpecialMove

StatusMove --|> Move
SpecialMove --|> DamageMove
PhysicalMove --|> DamageMove
DamageMove --|> Move

DoubleHit --|> PhysicalMove
Facade --|> PhysicalMove
SteelWing --|> PhysicalMove
Waterfall --|> PhysicalMove



@enduml
